:root {
  --title-color: #ffffff;
  --text-color: #959eac;
  --body-color: #131519;
  --circle-bg-color: #232a31;
  --container-bg-color: #19202C;
  --btn-bg-color: #fb7413;

  --font-family: 'Overpass', sans-serif;
}